{% extends 'base.html' %}
{% load static %}
{% load cart_extras %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="cart-wrapper mt-2 border border-3 border-primary">
    {% for item, quantity in items %}
        <div class="cart-item">
            <div class="cart-header d-flex justify-content-between align-items-center border-bottom">
                <p class="fw-bold fs-3 m-0">{{ item }}</p>
                <a href="{% url 'items:remove' item.get_slug %}" class="link-secondary text-decoration-none"><span class="text-end">Remove</span></a>
            </div>
            <div class="d-flex">
                <p class="flex-grow-1">Price: ${{ item.price }}</p>
                <p class="flex-grow-1">Quantity: {{ quantity }}</p>
                <p class="flex-grow-1">Cost: ${{ quantity|multiply:item.price }}</p>
            </div>
        </div>
    {% endfor %}
    <br>
    <p class="fw-bold fs-3 m-0 border-bottom">Summary</p>
    <div class="d-flex justify-content-between">
        <p>Total Items: {{ total_items }}</p>
        <p>Total Cost: ${{ total_cost }}</p>
    </div>
    <br>
    {% if total_items %}
        <form class="form-wrapper" method="post" style="height: 38px;">
            {% csrf_token %}
            <div class="form-actions flex-grow-1">
                <button class="btn btn-primary w-100">Confirm Transaction</button>
            </div>
        </form>
    {% else %}
    <p class="fw-bold fs-5">No items...</p>
    {% endif %}
</div>
{% endblock %}