{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <form method="post" class="register-form mt-5">
        <legend class="text-center">Register</legend>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions text-center p-2">
            <p>Already have an account? <a href="{% url 'account:login' %}">Login </a>here</p>
            <button class="btn btn-primary w-25" type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock %}