{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
{% endblock %}

{% block content %}
<div class="view-wrapper">
    {% for item in items %}
        <div class="view-content">
            <label>Price: ${{ item.price }}</label>
            <a href="{% url 'items:add' item.get_slug %}"><button class="btn btn-primary item-button">{{ item.name }}</button></a>
            <a href="{% url 'items:edit' item.get_slug %}" class="link-secondary text-decoration-none">Edit</a>
        </div>
    {% endfor %}
</div>
{% endblock %}